backend:
  name: git-gateway
  branch: main


media_folder: "images"
public_folder: "/images"


collections:
  - name: "articles"
    label: "Articles"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Titre", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Catégorie", name: "categorie", widget: "select", options: ["Parcs d'attractions", "Pop"] }
      - { label: "Image principale", name: "image", widget: "image" }
      - { label: "Chapeau", name: "chapeau", widget: "text" }
      - { label: "Contenu", name: "body", widget: "markdown" }